body, html {
    margin: 0%;
    height: 100% ;
    width: 100%;
    font-family: sans-serif;

    scroll-behavior:smooth;
    
}

section {
    height: 100%;
    padding: 100px 50px;
}

#logo {

    position: relative;
    top: 0px;
    left: 100px;
}

nav {
    color: #EAC696;
    height: 65px;
    width: 100%;
    background-color: #65451F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999999;
   

}


ul  {

    list-style: none;
    width: 800px;
    display: flex;
    justify-content: space-evenly;

}



#about-section {
    height: 100%;
    width: 100%;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/new-bg-about.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  
}

button {
   
    justify-content: center;
    text-align: center;
    position: relative;
    left: 790px;
    border-radius: 50px;.

    


}


#user-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #160f05;
    font-size: 30px;

    
}

#user-info img {
    width: 30%;
    height: 35%;
    border-radius: 30%;
}

#services-section {
    color: #160f05;
    font-size: 30px;
    background-color: #EAC696;
    height: 735px;
    width: 100%;
}





#service-1 {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/full\ stack.jpg);
    background-size: 550px 500px;
    background-repeat: no-repeat;
    border-radius: 20%;
    top: 100px;
    
}
#service-2 {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    left: 600px;
    top: -405px;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/graphic.png);
    background-size: 550px 500px;
    background-repeat: no-repeat;
    border-radius: 20%;
   
}
#service-3 {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    left: 1200px;
    top: -907px;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/customer\ service.jpeg);
    background-size: 550px 500px;
    background-repeat: no-repeat;
    border-radius: 20%;
}

#portfolio-section {
    color: #160f05;
    font-size: 30px;
    background-color: #C8AE7D;
    height: 735px;
    width: 100%;
    

}

#portfolio-1 {
    border: 2px solid black;
    width: 800px;
    height: 500px;
    position: relative;
    left: 60px;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/available\ soon.jpg);
    background-repeat: no-repeat;
    background-size: 800px 557px;
    border-radius: 5%;
}

#portfolio-2 {
    border: 2px solid black;
    width: 800px;
    height: 500px;
    position: relative;
    left: 900px;
    top: -504px;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/available\ soon.jpg);
    background-repeat: no-repeat;
    background-size: 800px 557px;
    border-radius: 5%;
}

#contact-section {
    color: #160f05;
    font-size: 30px;
    background-color: #EAC696;
    height: 670px;
    width: 100%;

}

#contact-details h3 {

    /* border: 2px solid black; */
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #email {
    
    position: relative;
    left: 300px;
}

#mobile {
    position: relative;
    top: -350px;
    left: 1200px;
}

#tel {
    position: relative;
    top:  200px;
    left: 300px;
} */



footer {
    background-color: #65451F;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}