body, html {
    margin: 0%;
    height: 100% ;
    width: 100%;
    font-family: sans-serif;
    
}

section {
    height: 100%;
    padding: 100px 50px;
}

#logo {

    position: relative;
    top: 0px;
    left: 100px;
}

nav {

    height: 65px;
    width: 100%;
    background-color: #65451F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999999;
   

}

ul {

    list-style: none;
    width: 800px;
    display: flex;
    justify-content: space-evenly;

}

#about-section {
    height: 100%;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/BG-About-sec);
    background-size: cover;
    background-repeat: no-repeat;
   
}

button {
   
    justify-content: center;
    text-align: center;
    position: relative;
    left: 745px;
    border-radius: 50px;


}


#user-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#user-info img {
    width: 30%;
    height: 35%;
    border-radius: 30%;
}

#services-section {
    background-color: #EAC696;
    height: 735px;
    width: 100%;
}



#service-1 {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/full\ stack.jpg);
    background-size: 550px 500px;
    background-repeat: no-repeat;
    
}
#service-2 {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    left: 600px;
    top: -503px;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/graphic.png);
    background-size: 550px 500px;
    background-repeat: no-repeat;
   
}
#service-3 {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    left: 1200px;
    top: -1006px;
    background-image: url(/asuncionraine023.github.io/html_portfolio/asset/img/customer\ service.jpeg);
    background-size: 550px 500px;
    background-repeat: no-repeat;
}

#portfolio-section {
    background-color: #C8AE7D;
}

#contact-section {
    background-color: #765827;
}

footer {
    background-color: #65451F;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}